.edu-n-work {
	@extend %comp-main-section;

	@media screen and (max-width: 1439px) {
		&:nth-of-type(2)::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			margin-block: 20px;

			background-color: $COLOR_MAIN;
			opacity: 0.3;
		}
	}

	&--final {
		margin-bottom: 0;
	}

	&__title {
		@extend %comp-main-section-title;
		transition: color 250ms;
	}

	&__subtitle {
		@extend %comp-main-section-subtitle;

		&--work {
			@extend %comp-main-section-subtitle;
			margin-bottom: 25px;
		}
	}

	&__wrapper {
		@extend %comp-main-section-wrapper;
		transition: background-color 250ms;

		&--final {
			margin-bottom: 0;
		}
	}

	&__block {
		@extend %comp-main-section-block;
	}

	&__item {
		@extend %comp-main-section-item;

		&-data {
			@extend %comp-main-section-item-data;
		}

		&-title {
			@extend %comp-main-section-item-title;
			transition: color 250ms;
		}

		&-link {
			@extend %comp-main-section-item-link;
			transition: color 250ms;
		}

		&-subtitle {
			@extend %comp-main-section-item-subtitle;
			transition: color 250ms;
		}

		&-period {
			@extend %comp-main-section-item-period;
		}

		&-description {
			@extend %comp-main-section-item-description;
		}

		&-text:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__get-cv-btn {
		width: 225px;
		margin-inline: auto;
		margin-bottom: 50px;
	}

	&__list {
		margin-block: 0 10px;
		padding-left: 20px;

		// &:last-of-type {
		// 	margin-bottom: 0;
		// }

		&-item--header {
			margin-left: -20px;
			font-weight: 700;
			list-style: none;
		}
	}
}
