body {
	background-color: #18191a;
}

.edu-n-work__wrapper {
	background-color: #18191a;
	/* background-color: #242526; */
}

@media screen and (min-width: 1440px) {
	.general-info,
	.wrapper-nav,
	.hero,
	/* .edu-n-work__wrapper, */
	.skills__level {
		background-color: #242526;
	}
}

.social__title,
.skills__title,
.hero__title,
.hero__title--accent,
.edu-n-work__title,
.edu-n-work__item-link,
.edu-n-work__item-title,
.edu-n-work__item-subtitle {
	color: #fafafa;
}

.brief__value,
.skills__name,
.skills__value {
	color: #767676;
}

.main-nav__link::before {
	color: #2b2b2b;
	background-color: #f0f0f6;
}

.main-nav__link--dark-mode {
	color: #2b2b2b;
	background-color: #ffb400;
}

.main-nav__link--dark-mode:hover,
.main-nav__link--dark-mode:focus {
	color: #767676;
	background-color: #f0f0f6;
}

.main-nav__link--dark-mode::before {
	content: 'Light Mode';
}
